@charset "utf-8";

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ol, ul {
    margin-left: 0px;
}

.header-info-name {
    color: #D60606;
}

.page-title {
    text-align: left;
}

.page-content a {
    text-decoration: underline;
}

.page-content a:hover {
    text-decoration: none;
}

.container-main {
    margin-top: 30px;
    min-height: calc(75vh);

    .container-post {
        display: flex;
        flex-direction: column;
        min-height: calc(75vh);

        .post-title {
            text-align: left;
        }

        .post-info {
            margin-top: auto;
            font-size: 0.7em;
            line-height: 14px;

            .post-date {
                margin-bottom: 12px;
            }
        }
    }

}

li.header-main-nav-item > a.active:hover {
    color: #000;
}

li.header-main-nav-item > a.active span {
    border-bottom: 1px solid  #000000;
}

.post-content p,
.page-content p {
    line-height: 24px;
}

.categories-list {
    .posts-category {
        margin-bottom: 10px;
        font-weight: bold;
    }
    .posts-list-item {
        margin: 2px auto;
        line-height: inherit;
    }
}

ul.categories-list li {
    list-style-type: none;
}

.print-post-author {
    display: block;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 0.8em;
}
